@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @{ 
        Html.RenderAction("Index", "DocumentViewer", new { FilePath = "/Scripts/pdf.js/web/compressed.tracemonkey-pldi-09.pdf", Width = 1000, height = 800 });
    }
</div>